<head>
    {% include head.html %}
  </head>
  
  <body>
    <div class="wrapper">
        <main class="wrapper-main">
            <div class="main-content">
              <div class="container">
                <img src="/assets/images/under-construction-image.png" class="construction-image">
                <h2>This page is under construction...</h2>
              
                <p><strong>Come back later or check out the <a href=/posts>posts</a> page for updates!</strong></p>
            </div>
        </main>
    </div>
  </body>
  </html>
  
    <style type="text/css" media="screen">
        .container {
            margin: 10px auto;
            max-width: 600px;
            text-align: center;
        }
        h1 {
            margin: 30px 0;
            font-size: 4em;
            line-height: 1;
            letter-spacing: -1px;
        }
        .construction-image {
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 50%;
          height: auto;
        }
    </style>
  </div>
  